# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end

Makefile
Makefile.in

/ABOUT-NLS
/config.rpath
/mkinstalldirs
/autom4te.cache/
/intl/
/stamp-h1
/stamp-h.in
/conftest.c
/conftest
/configure
/config.log
/config.status
/config.h
/config.h.in
/aclocal.m4
/INSTALL
/compile
/config.guess
/config.sub
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
